In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import squarify
import seaborn as sns
sns.set_theme(style="ticks")
%matplotlib notebook

In [3]:
path = r"C:\Users\parik\Documents\Data sets\income pyramids\Member Incomes\member_income_20190131_MS_rev.csv"
df = pd.read_csv(path)
df.head()

,HH_ID,MEM_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,MONTH,...,DISCIPLINE,NATURE_OF_OCCUPATION,INDUSTRY_OF_OCCUPATION,OCCUPATION,INCOME_OF_MEMBER_FROM_ALL_SOURCES,INCOME_OF_MEMBER_FROM_WAGES,INCOME_OF_MEMBER_FROM_PENSION,INCOME_OF_MEMBER_FROM_DIVIDEND,INCOME_OF_MEMBER_FROM_INTEREST,INCOME_OF_MEMBER_FROM_FD_PF_INSURANCE
0,77051739,1,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,May 2019,Jan 2019,...,Arts,Retired/Aged,Not Applicable,Retired/Aged,29000,0,29000,0,0,0
1,77051739,2,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,May 2019,Jan 2019,...,Not Applicable,Self Employed Entrepreneur,"Soaps, Detergents, Cosmetics, Toiletries",Smaller businessmen (smaller shops or offices)...,8000,8000,0,0,0,0
2,77051739,4,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,May 2019,Jan 2019,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,0,0,0,0,0,0
3,77051739,5,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,May 2019,Jan 2019,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,0,0,0,0,0,0
4,77051739,6,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,May 2019,Jan 2019,...,Arts,Unoccupied,Not Applicable,Unoccupied,0,0,0,0,0,0

In [4]:
df['MARITAL_STATUS'].unique()

array(['Widowed', 'Unmarried', 'Not Applicable', 'Married',
       'Divorced/Separated', 'Data Not Available'], dtype=object)

In [ ]:
df.columns

In [ ]:
df['unmarried'] = df['MARITAL_STATUS'] == "Unmarried"
df['unmarried']

In [ ]:
df.groupby("HH_ID")

In [ ]:
hh_unmarried_members = df.groupby('HH_ID').agg({'unmarried':np.sum})
hh_has_unmarried = hh_unmarried_members >0
hh_has_unmarried.mean()

In [ ]:
df.groupby(['HH_ID'], sort=False)['AGE_MTHS'].max()

In [ ]:
df2 = df[df['unmarried']]

In [31]:
df2_max_gender_of_unmarried  = df2.loc[df2.groupby(["HH_ID"])["AGE_MTHS"].idxmax()] 
df2_max_gender_of_unmarried

,HH_ID,MEM_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,MONTH,...,NATURE_OF_OCCUPATION,INDUSTRY_OF_OCCUPATION,OCCUPATION,INCOME_OF_MEMBER_FROM_ALL_SOURCES,INCOME_OF_MEMBER_FROM_WAGES,INCOME_OF_MEMBER_FROM_PENSION,INCOME_OF_MEMBER_FROM_DIVIDEND,INCOME_OF_MEMBER_FROM_INTEREST,INCOME_OF_MEMBER_FROM_FD_PF_INSURANCE,unmarried
367984,10001060,3,Maharashtra,HR 43,Jalgaon,RURAL,HR 43_RURAL_R,PSU_ID_9272,Mar 2019,Jan 2019,...,Student,Not Applicable,Not Applicable,0,0,0,0,0,0,True
227126,10001079,3,Uttar Pradesh,HR 27,Shahjahanpur,RURAL,HR 27_RURAL_R,PSU_ID_8784,May 2019,Jan 2019,...,Student,Not Applicable,Not Applicable,0,0,0,0,0,0,True
170464,10002083,2,Uttar Pradesh,HR 21,Kanpur Nagar,URBAN,HR 21_URBAN_VL,PSU_ID_1125,Mar 2019,Jan 2019,...,Support Staff,Retail Trade,Mazdoor/Helpers,9500,9500,0,0,0,0,True
647204,10002181,2,Kerala,HR 78,Malappuram,URBAN,HR 78_URBAN_S,PSU_ID_5608,Mar 2019,Jan 2019,...,Non-Industrial Technical Employee,Retail Trade,"Sales workers/assistants, shop attendants/Medi...",12000,12000,0,0,0,0,True
472842,10002261,4,Madhya Pradesh,HR 55,Seoni,RURAL,HR 55_RURAL_R,PSU_ID_12577,May 2019,Jan 2019,...,White Collar Clerical Employees,Financial Services,"Office, bank clerks, court clerks, office assi...",9000,9000,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55782,99996304,2,Haryana,HR 8,Gurgaon,URBAN,HR 8_URBAN_VL,PSU_ID_409,May 2019,Jan 2019,...,Small Trader/Hawker/ Businessman without Fixed...,Retail Trade,"Street food wala -- chat wala, street tea-stal...",18000,18000,0,0,0,0,True
514394,99996619,3,Karnataka,HR 62,Raichur,URBAN,HR 62_URBAN_M,PSU_ID_3729,Feb 2019,Jan 2019,...,Home Maker,Not Applicable,Home Makers,0,0,0,0,0,0,True
207008,99996998,5,Uttar Pradesh,HR 24,Gautam Buddha Nagar,URBAN,HR 24_URBAN_M,PSU_ID_1333,Apr 2019,Jan 2019,...,Student,Not Applicable,Students,0,0,0,0,0,0,True
175666,99998682,3,Uttar Pradesh,HR 22,Aligarh,URBAN,HR 22_URBAN_L,PSU_ID_1169,Feb 2019,Jan 2019,...,Student,Not Applicable,Not Applicable,0,0,0,0,0,0,True
300979,99998893,3,Gujarat,HR 35,Amreli,RURAL,HR 35_RURAL_R,PSU_ID_12405,Mar 2019,Jan 2019,...,Home Maker,Not Applicable,Home Makers,0,0,0,0,0,0,True

In [32]:
df2_max_gender_of_unmarried = df2_max_gender_of_unmarried[["HH_ID","MEM_ID","GENDER","AGE_YRS",]]
df2_max_gender_of_unmarried.rename(columns={'GENDER':'gender_of_oldest_unmarried', "AGE_YRS": 'age_of_oldest_unmarried'}, inplace=True)

C:\Users\parik\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [33]:
df2_max_gender_of_unmarried

           HH_ID  MEM_ID gender_of_oldest_unmarried  age_of_oldest_unmarried
367984  10001060       3                          F                       12
227126  10001079       3                          F                       14
170464  10002083       2                          M                       18
647204  10002181       2                          M                       23
472842  10002261       4                          M                       27
...          ...     ...                        ...                      ...
55782   99996304       2                          M                       26
514394  99996619       3                          F                       20
207008  99996998       5                          M                       21
175666  99998682       3                          M                       12
300979  99998893       3                          F                       19

[97003 rows x 4 columns]

In [34]:
path = r"C:\Users\parik\Documents\Data sets\aspirations\drive-download-20220221T055656Z-001\aspirational_india_20190901_20191231_R_csv\aspirational_india_20190901_20191231_R.csv"
dfa = pd.read_csv(path)
dfa.head()

,WAVE_NO,HH_ID,STATE,HR,DISTRICT,REGION_TYPE,STRATUM,PSU_ID,MONTH_SLOT,RESPONSE_STATUS,...,IS_THIS_GOOD_TIME_TO_BUY_CONSUMER_DURABLES,TYPE_OF_ROOF,TYPE_OF_WALL,HAS_ACCESS_TO_ELECTRICITY,POWER_AVAILABILITY_IN_HOURS_PER_DAY,HAS_ACCESS_TO_WATER_IN_HOUSE,WATER_AVAILABILITY_IN_DAYS_PER_WEEK,WATER_AVAILABILITY_IN_HOURS_PER_DAY,HAS_TOILET_IN_HOUSE,TIME_TO_TRAVEL_TEN_KMS
0,18,77051739,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,Sep 2019,Accepted,...,Same as other times,"Galvanized iron, asbestos sheet",Concrete,Y,24,Y,7,24,Y,30
1,18,61287374,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,Sep 2019,Accepted,...,Bad time,"Galvanized iron, asbestos sheet",Concrete,Y,24,Y,7,24,Y,30
2,18,34049553,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,Sep 2019,Accepted,...,Bad time,"Galvanized iron, asbestos sheet","Mud, Unburnt brick",Y,24,Y,7,24,Y,35
3,18,92526123,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,Sep 2019,Accepted,...,Same as other times,"Galvanized iron, asbestos sheet",Burnt brick,Y,24,Y,7,24,Y,30
4,18,61508707,Jammu & Kashmir,HR 1,Bandipore,RURAL,HR 1_RURAL_R,PSU_ID_7959,Sep 2019,Accepted,...,Bad time,"Galvanized iron, asbestos sheet","Mud, Unburnt brick",Y,24,Y,7,24,Y,35

In [35]:
df_borrowed = dfa[dfa['BORROWED_FOR_WEDDING'] == 'Y']

In [36]:
df_merged = pd.merge(df_borrowed,df2_max_gender_of_unmarried, how = "inner", on = "HH_ID")

In [37]:
df_merged.columns

Index(['WAVE_NO', 'HH_ID', 'STATE', 'HR', 'DISTRICT', 'REGION_TYPE', 'STRATUM',
       'PSU_ID', 'MONTH_SLOT', 'RESPONSE_STATUS',
       ...
       'HAS_ACCESS_TO_ELECTRICITY', 'POWER_AVAILABILITY_IN_HOURS_PER_DAY',
       'HAS_ACCESS_TO_WATER_IN_HOUSE', 'WATER_AVAILABILITY_IN_DAYS_PER_WEEK',
       'WATER_AVAILABILITY_IN_HOURS_PER_DAY', 'HAS_TOILET_IN_HOUSE',
       'TIME_TO_TRAVEL_TEN_KMS', 'MEM_ID', 'gender_of_oldest_unmarried',
       'age_of_oldest_unmarried'],
      dtype='object', length=303)

In [38]:
dfa["MONTH_SLOT"]

0         Sep 2019
1         Sep 2019
2         Sep 2019
3         Sep 2019
4         Sep 2019
            ...
174400    Nov 2019
174401    Nov 2019
174402    Nov 2019
174403    Nov 2019
174404    Nov 2019
Name: MONTH_SLOT, Length: 174405, dtype: object

In [39]:
df_merged[["HH_ID",'STATE','BORROWED_FOR_WEDDING','gender_of_oldest_unmarried']]

,HH_ID,STATE,BORROWED_FOR_WEDDING,gender_of_oldest_unmarried
0,10163434,Jammu & Kashmir,Y,F
1,18836801,Jammu & Kashmir,Y,F
2,37416292,Himachal Pradesh,Y,M
3,69997063,Himachal Pradesh,Y,M
4,83532467,Himachal Pradesh,Y,F
...,...,...,...,...
857,64408703,Tripura,Y,M
858,69585858,Tripura,Y,M
859,87985798,Meghalaya,Y,M
860,16619392,Meghalaya,Y,M
861,55046501,Meghalaya,Y,F

In [40]:
df_merged["is_bride"] = df_merged['gender_of_oldest_unmarried'] == "F"
df_merged["is_bride"].mean()

0.35962877030162416

In [45]:
list(df_merged.columns)

['WAVE_NO',
 'HH_ID',
 'STATE',
 'HR',
 'DISTRICT',
 'REGION_TYPE',
 'STRATUM',
 'PSU_ID',
 'MONTH_SLOT',
 'RESPONSE_STATUS',
 'REASON_FOR_NON_RESPONSE',
 'FAMILY_SHIFTED',
 'HH_WEIGHT_W',
 'HH_WEIGHT_FOR_COUNTRY_W',
 'HH_WEIGHT_FOR_STATE_W',
 'HH_NON_RESPONSE_W',
 'HH_NON_RESPONSE_FOR_COUNTRY_W',
 'HH_NON_RESPONSE_FOR_STATE_W',
 'AGE_GROUP',
 'INCOME_GROUP',
 'OCCUPATION_GROUP',
 'EDUCATION_GROUP',
 'GENDER_GROUP',
 'WATER_GROUP',
 'POWER_GROUP',
 'TRAVEL_GROUP',
 'SIZE_GROUP',
 'HOUSES_OWNED',
 'BOUGHT_HOUSE',
 'WILL_BUY_HOUSE',
 'WILL_BUY_HOUSE_NOW',
 'GOOD_TIME_TO_BUY_HOUSE',
 'REFRIGERATORS_OWNED',
 'BOUGHT_REFRIGERATOR',
 'WILL_BUY_REFRIGERATOR',
 'WILL_BUY_REFRIGERATOR_NOW',
 'GOOD_TIME_TO_BUY_REFRIGERATOR',
 'AIR_CONDITIONERS_OWNED',
 'BOUGHT_AIR_CONDITIONER',
 'WILL_BUY_AIR_CONDITIONER',
 'WILL_BUY_AIR_CONDITIONER_NOW',
 'GOOD_TIME_TO_BUY_AIR_CONDITIONER',
 'COOLERS_OWNED',
 'BOUGHT_COOLER',
 'WILL_BUY_COOLER',
 'WILL_BUY_COOLER_NOW',
 'GOOD_TIME_TO_BUY_COOLER',
 'WASHING_MACHINES_OWNED',
 'BOUGHT_WASHING_MACHINE',
 'WILL_BUY_WASHING_MACHINE',
 'WILL_BUY_WASHING_MACHINE_NOW',
 'GOOD_TIME_TO_BUY_WASHING_MACHINE',
 'TELEVISIONS_OWNED',
 'BOUGHT_TELEVISION',
 'WILL_BUY_TELEVISION',
 'WILL_BUY_TELEVISION_NOW',
 'GOOD_TIME_TO_BUY_TELEVISION',
 'COMPUTERS_OWNED',
 'BOUGHT_COMPUTER',
 'WILL_BUY_COMPUTER',
 'WILL_BUY_COMPUTER_NOW',
 'GOOD_TIME_TO_BUY_COMPUTER',
 'CARS_OWNED',
 'TYPE_OF_CAR_OWNED',
 'BOUGHT_CAR',
 'WILL_BUY_CAR',
 'WILL_BUY_CAR_OF_TYPE',
 'WILL_BUY_CAR_NOW',
 'GOOD_TIME_TO_BUY_CAR',
 'TWO_WHEELERS_OWNED',
 'TYPE_OF_TWO_WHEELER_OWNED',
 'BOUGHT_TWO_WHEELER',
 'WILL_BUY_TWO_WHEELER',
 'WILL_BUY_TWO_WHEELER_OF_TYPE',
 'WILL_BUY_TWO_WHEELER_NOW',
 'GOOD_TIME_TO_BUY_TWO_WHEELER',
 'GENSET_INVERTERS_OWNED',
 'BOUGHT_GENSET_INVERTER',
 'WILL_BUY_GENSET_INVERTER',
 'WILL_BUY_GENSET_INVERTER_NOW',
 'GOOD_TIME_TO_BUY_GENSET_INVERTER',
 'TRACTORS_OWNED',
 'BOUGHT_TRACTOR',
 'WILL_BUY_TRACTOR',
 'WILL_BUY_TRACTOR_NOW',
 'GOOD_TIME_TO_BUY_TRACTOR',
 'CATTLE_OWNED',
 'BOUGHT_CATTLE',
 'WILL_BUY_CATTLE',
 'WILL_BUY_CATTLE_NOW',
 'GOOD_TIME_TO_BUY_CATTLE',
 'HAS_OUTSTANDING_SAVING_IN_FIXED_DEPOSITS',
 'HAS_SAVED_IN_FIXED_DEPOSITS',
 'WILL_SAVE_IN_FIXED_DEPOSITS',
 'HAS_OUTSTANDING_SAVING_IN_POST_OFFICE_SAVINGS',
 'HAS_SAVED_IN_POST_OFFICE_SAVINGS',
 'WILL_SAVE_IN_POST_OFFICE_SAVINGS',
 'HAS_OUTSTANDING_SAVING_IN_NSC_BONDS',
 'HAS_SAVED_IN_NSC_BONDS',
 'WILL_SAVE_IN_NSC_BONDS',
 'HAS_OUTSTANDING_SAVING_IN_KVP',
 'HAS_SAVED_IN_KVP',
 'WILL_SAVE_IN_KVP',
 'HAS_OUTSTANDING_SAVING_IN_PROVIDENT_FUND',
 'HAS_SAVED_IN_PROVIDENT_FUND',
 'WILL_SAVE_IN_PROVIDENT_FUND',
 'HAS_OUTSTANDING_SAVING_IN_LIFE_INSURANCE',
 'HAS_SAVED_IN_LIFE_INSURANCE',
 'WILL_SAVE_IN_LIFE_INSURANCE',
 'HAS_OUTSTANDING_SAVING_IN_MUTUAL_FUNDS',
 'HAS_SAVED_IN_MUTUAL_FUNDS',
 'WILL_SAVE_IN_MUTUAL_FUNDS',
 'HAS_OUTSTANDING_SAVING_IN_LISTED_SHARES',
 'HAS_SAVED_IN_LISTED_SHARES',
 'WILL_SAVE_IN_LISTED_SHARES',
 'HAS_OUTSTANDING_SAVING_IN_BUSINESS',
 'HAS_SAVED_IN_BUSINESS',
 'WILL_SAVE_IN_BUSINESS',
 'HAS_OUTSTANDING_SAVING_IN_GOLD',
 'HAS_SAVED_IN_GOLD',
 'WILL_SAVE_IN_GOLD',
 'HAS_OUTSTANDING_SAVING_IN_REAL_ESTATE',
 'HAS_SAVED_IN_REAL_ESTATE',
 'WILL_SAVE_IN_REAL_ESTATE',
 'HAS_OUTSTANDING_SAVING_IN_CHIT_FUNDS',
 'HAS_SAVED_IN_CHIT_FUNDS',
 'WILL_SAVE_IN_CHIT_FUNDS',
 'HAS_OUTSTANDING_SAVING_IN_OTHER_FIN_INSTRUMENTS',
 'HAS_SAVED_IN_OTHER_FIN_INSTRUMENTS',
 'WILL_SAVE_IN_OTHER_FIN_INSTRUMENTS',
 'HAS_OUTSTANDING_BORROWING',
 'BORROWED_FOR_HOUSING',
 'BORROWED_FOR_EDUCATION',
 'BORROWED_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FOR_WEDDING',
 'BORROWED_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FOR_CONSUMER_DURABLES',
 'BORROWED_FOR_BUSINESS',
 'BORROWED_FOR_INVESTMENTS',
 'BORROWED_FOR_DEBT_REPAYMENT',
 'BORROWED_FOR_VEHICLES',
 'BORROWED_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_BANK',
 'BORROWED_FROM_BANK_FOR_HOUSING',
 'BORROWED_FROM_BANK_FOR_EDUCATION',
 'BORROWED_FROM_BANK_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_BANK_FOR_WEDDING',
 'BORROWED_FROM_BANK_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_BANK_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_BANK_FOR_BUSINESS',
 'BORROWED_FROM_BANK_FOR_INVESTMENTS',
 'BORROWED_FROM_BANK_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_BANK_FOR_VEHICLES',
 'BORROWED_FROM_BANK_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_MONEY_LENDER',
 'BORROWED_FROM_MONEY_LENDER_FOR_HOUSING',
 'BORROWED_FROM_MONEY_LENDER_FOR_EDUCATION',
 'BORROWED_FROM_MONEY_LENDER_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_MONEY_LENDER_FOR_WEDDING',
 'BORROWED_FROM_MONEY_LENDER_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_MONEY_LENDER_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_MONEY_LENDER_FOR_BUSINESS',
 'BORROWED_FROM_MONEY_LENDER_FOR_INVESTMENTS',
 'BORROWED_FROM_MONEY_LENDER_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_MONEY_LENDER_FOR_VEHICLES',
 'BORROWED_FROM_MONEY_LENDER_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_EMPLOYER',
 'BORROWED_FROM_EMPLOYER_FOR_HOUSING',
 'BORROWED_FROM_EMPLOYER_FOR_EDUCATION',
 'BORROWED_FROM_EMPLOYER_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_EMPLOYER_FOR_WEDDING',
 'BORROWED_FROM_EMPLOYER_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_EMPLOYER_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_EMPLOYER_FOR_BUSINESS',
 'BORROWED_FROM_EMPLOYER_FOR_INVESTMENTS',
 'BORROWED_FROM_EMPLOYER_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_EMPLOYER_FOR_VEHICLES',
 'BORROWED_FROM_EMPLOYER_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_REL_FRIENDS',
 'BORROWED_FROM_REL_FRIENDS_FOR_HOUSING',
 'BORROWED_FROM_REL_FRIENDS_FOR_EDUCATION',
 'BORROWED_FROM_REL_FRIENDS_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_REL_FRIENDS_FOR_WEDDING',
 'BORROWED_FROM_REL_FRIENDS_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_REL_FRIENDS_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_REL_FRIENDS_FOR_BUSINESS',
 'BORROWED_FROM_REL_FRIENDS_FOR_INVESTMENTS',
 'BORROWED_FROM_REL_FRIENDS_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_REL_FRIENDS_FOR_VEHICLES',
 'BORROWED_FROM_REL_FRIENDS_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_NBFC_DEALER',
 'BORROWED_FROM_NBFC_DEALER_FOR_HOUSING',
 'BORROWED_FROM_NBFC_DEALER_FOR_EDUCATION',
 'BORROWED_FROM_NBFC_DEALER_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_NBFC_DEALER_FOR_WEDDING',
 'BORROWED_FROM_NBFC_DEALER_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_NBFC_DEALER_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_NBFC_DEALER_FOR_BUSINESS',
 'BORROWED_FROM_NBFC_DEALER_FOR_INVESTMENTS',
 'BORROWED_FROM_NBFC_DEALER_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_NBFC_DEALER_FOR_VEHICLES',
 'BORROWED_FROM_NBFC_DEALER_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_SHG',
 'BORROWED_FROM_SHG_FOR_HOUSING',
 'BORROWED_FROM_SHG_FOR_EDUCATION',
 'BORROWED_FROM_SHG_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_SHG_FOR_WEDDING',
 'BORROWED_FROM_SHG_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_SHG_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_SHG_FOR_BUSINESS',
 'BORROWED_FROM_SHG_FOR_INVESTMENTS',
 'BORROWED_FROM_SHG_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_SHG_FOR_VEHICLES',
 'BORROWED_FROM_SHG_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_MFI',
 'BORROWED_FROM_MFI_FOR_HOUSING',
 'BORROWED_FROM_MFI_FOR_EDUCATION',
 'BORROWED_FROM_MFI_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_MFI_FOR_WEDDING',
 'BORROWED_FROM_MFI_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_MFI_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_MFI_FOR_BUSINESS',
 'BORROWED_FROM_MFI_FOR_INVESTMENTS',
 'BORROWED_FROM_MFI_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_MFI_FOR_VEHICLES',
 'BORROWED_FROM_MFI_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_CHITFUNDS',
 'BORROWED_FROM_CHITFUNDS_FOR_HOUSING',
 'BORROWED_FROM_CHITFUNDS_FOR_EDUCATION',
 'BORROWED_FROM_CHITFUNDS_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_CHITFUNDS_FOR_WEDDING',
 'BORROWED_FROM_CHITFUNDS_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_CHITFUNDS_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_CHITFUNDS_FOR_BUSINESS',
 'BORROWED_FROM_CHITFUNDS_FOR_INVESTMENTS',
 'BORROWED_FROM_CHITFUNDS_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_CHITFUNDS_FOR_VEHICLES',
 'BORROWED_FROM_CHITFUNDS_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_CREDIT_CARDS',
 'BORROWED_FROM_CREDIT_CARDS_FOR_HOUSING',
 'BORROWED_FROM_CREDIT_CARDS_FOR_EDUCATION',
 'BORROWED_FROM_CREDIT_CARDS_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_CREDIT_CARDS_FOR_WEDDING',
 'BORROWED_FROM_CREDIT_CARDS_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_CREDIT_CARDS_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_CREDIT_CARDS_FOR_BUSINESS',
 'BORROWED_FROM_CREDIT_CARDS_FOR_INVESTMENTS',
 'BORROWED_FROM_CREDIT_CARDS_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_CREDIT_CARDS_FOR_VEHICLES',
 'BORROWED_FROM_CREDIT_CARDS_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_SHOPS',
 'BORROWED_FROM_SHOPS_FOR_HOUSING',
 'BORROWED_FROM_SHOPS_FOR_EDUCATION',
 'BORROWED_FROM_SHOPS_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_SHOPS_FOR_WEDDING',
 'BORROWED_FROM_SHOPS_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_SHOPS_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_SHOPS_FOR_VEHICLES',
 'BORROWED_FROM_SHOPS_FOR_BUSINESS',
 'BORROWED_FROM_SHOPS_FOR_INVESTMENTS',
 'BORROWED_FROM_SHOPS_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_SHOPS_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_OTHER_SOURCES',
 'BORROWED_FROM_OTHER_SOURCES_FOR_HOUSING',
 'BORROWED_FROM_OTHER_SOURCES_FOR_EDUCATION',
 'BORROWED_FROM_OTHER_SOURCES_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_OTHER_SOURCES_FOR_WEDDING',
 'BORROWED_FROM_OTHER_SOURCES_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_OTHER_SOURCES_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_OTHER_SOURCES_FOR_BUSINESS',
 'BORROWED_FROM_OTHER_SOURCES_FOR_INVESTMENTS',
 'BORROWED_FROM_OTHER_SOURCES_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_OTHER_SOURCES_FOR_VEHICLES',
 'BORROWED_FROM_OTHER_SOURCES_FOR_OTHER_PURPOSES',
 'BORROWED_FROM_DONT_KNOW',
 'BORROWED_FROM_DONT_KNOW_FOR_HOUSING',
 'BORROWED_FROM_DONT_KNOW_FOR_EDUCATION',
 'BORROWED_FROM_DONT_KNOW_FOR_MEDICAL_EXPENDITURE',
 'BORROWED_FROM_DONT_KNOW_FOR_WEDDING',
 'BORROWED_FROM_DONT_KNOW_FOR_CONSUMPTION_EXPENDITURE',
 'BORROWED_FROM_DONT_KNOW_FOR_CONSUMER_DURABLES',
 'BORROWED_FROM_DONT_KNOW_FOR_BUSINESS',
 'BORROWED_FROM_DONT_KNOW_FOR_INVESTMENTS',
 'BORROWED_FROM_DONT_KNOW_FOR_DEBT_REPAYMENT',
 'BORROWED_FROM_DONT_KNOW_FOR_VEHICLES',
 'BORROWED_FROM_DONT_KNOW_FOR_OTHER_PURPOSES',
 'FAMILY_FINANCES_COMPARED_TO_YEAR_AGO',
 'FAMILY_FINANCES_A_YEAR_LATER',
 'CONDITIONS_IN_COUNTRY_OVER_NEXT_12_MONTHS',
 'CONDITIONS_IN_COUNTRY_OVER_NEXT_5_YEARS',
 'IS_THIS_GOOD_TIME_TO_BUY_CONSUMER_DURABLES',
 'TYPE_OF_ROOF',
 'TYPE_OF_WALL',
 'HAS_ACCESS_TO_ELECTRICITY',
 'POWER_AVAILABILITY_IN_HOURS_PER_DAY',
 'HAS_ACCESS_TO_WATER_IN_HOUSE',
 'WATER_AVAILABILITY_IN_DAYS_PER_WEEK',
 'WATER_AVAILABILITY_IN_HOURS_PER_DAY',
 'HAS_TOILET_IN_HOUSE',
 'TIME_TO_TRAVEL_TEN_KMS',
 'MEM_ID',
 'gender_of_oldest_unmarried',
 'age_of_oldest_unmarried',
 'is_bride']

In [46]:
df_merged.to_csv('df_merged_ex.csv')